<div *ngIf="win; else lose" class="match-container win">
	<div class="matchId">
		<h3> Win </h3>
	</div>
	<div class="matchScore">
		<h3> {{ game.wScore }} </h3>
		<h3> VS </h3>
		<h3> {{ game.lScore }} </h3>
	</div>
	<div class="matchPlayers">
		<h4> {{ user.username }} </h4>
		<h4> Player 2 </h4>
	</div>
</div>

<ng-template #lose>
	<div class="match-container loss">
		<div class="matchId">
			<h3> Defeat </h3>
		</div>
		<div class="matchScore">
			<h3> {{ game.lScore }} </h3>
			<h3> VS </h3>
			<h3> {{ game.wScore }} </h3>
		</div>
		<div class="matchPlayers">
			<h4> {{ user.username }} </h4>
			<h4> Player 2 </h4>
		</div>
	</div>
</ng-template>
