@import '../../../../../colors.scss';

.backpanel {
	box-shadow: 0.75rem 0.75rem black;
	border: solid 4px black;
	padding: 1rem;
	background-color: #53A6AC;
}

.img-fluid {
	border-radius: 50%;
}

.usercard {
	top: 20px;
}


h2 {
	border: solid 4px #000;
	box-shadow: 5px 5px 0px 0px #000;
	background-color: #9D95E7;
}

.edit {
	background-color: $tertiary;
}

//////////////////////////
/*		ANIMATIONS		*/
//////////////////////////

.spinning {
	animation:	spin 2.5s linear infinite;
	position: relative;
}

/* Spinning the sphere using key frames */
@keyframes spin {
	from { 
		transform: rotate(0deg); 
	}
	to { 
		transform: rotate(360deg); 
	}
}