<div class="container text-center">
	<div class="row">

		<div class="col-md-4">
			<div class="usercard sticky-top">
				<div class="backpanel">
					<div class="profile-pic" *ngIf="user?.avatar">
						<img [src]="user?.avatar" alt="User Avatar">
					</div>
					<div class="user-details">
						<h2>{{ user?.username }}</h2>
						<p>{{ user?.username }}, you really are Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<button class="btn btn-secondary" (click)="editProfile()">Edit Profile</button>
					<div class="achievements">
						<p>Achievements</p>
					</div>
				</div>

				<div class="backpanel mt-4">
					<h2>Games Stats</h2>
					<div class="statscontainer">
						<div>
							<p>Games Played</p>
							<p>{{ user?.MatchesCount }}</p>
						</div><p>Games Played</p>
						<div>
							<p>Games Won</p>
							<p>{{ user?.wonMatchesCount }}</p>
						</div>
						<div>
							<p>W/L Ratio</p>
							<p>{{ user?.gameRatio }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="backpanel gameList">
				<h2>Game History</h2>
				<div class="d-flex justify-content-evenly">
					<div class="matchcontainer" *ngFor="let game of gameList">
						<match [game]="game"></match>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>