.profile-info {
	font-family: 'Gopher', sans-serif;

	.profile-pic {
		width: 240px;
		height: 240px;
		background-image: url(https://www.w3schools.com/howto/img_avatar.png);
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:cover;
		border-radius: 50%;
		margin-bottom: 1rem;
	}

	.user-details {
		text-align: center;
		margin-bottom: 1rem;

		h2 {
			margin-bottom: 1rem;
		}

		p {
			margin-top: 1rem;
		}
	}

	.edit-button {
		padding: 8px 16px;
		background-color: #FFC801;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	
	.achievements {
		font-family: 'Gopher', sans-serif;
		margin-top: 2rem;
	}
}


h2 {
	font-family: 'Gopher', sans-serif;
	border: solid 4px #000;
	box-shadow: 5px 5px 0px 0px #000;
}

.gameList {
	height: 40%;
	align-items: center;
	overflow-y: auto;
	margin-bottom: 1rem;
}

.generalStats {
	font-family: 'Gopher', sans-serif;
	border-left: 1px solid #000;
}