<div class="container text-center">
	<div class="row">

		<div class="col-md-4">
			<div class="usercard sticky-top">
				<div class="backpanel">
					<h2> {{ user.username }} </h2>
					<div class="row mt-4 mb-5">
						<div class="col-md-5">
							<img class="img-fluid" *ngIf="user.avatar" [src]="user.avatar">
						</div>	
						<div class="col-md-7">
							<p> {{ user.username }}, you really are Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<button class="btn btn-secondary w-100" (click)="editProfile()">Edit Profile</button>
						</div>
					</div>
					<h5>Achievements</h5>
					<div class="achievements d-flex justify-content-around">
						<img src="assets/logo.svg" style="height:45px">
						<img src="assets/ballgreen.svg" style="height:45px">
						<img src="assets/logo.svg" style="height:45px">
					</div>
				</div>

				<div class="backpanel mt-4">
					<h2>Games Stats</h2>







					<div class="position-relative m-4">
						<div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 50px;">
						  	<div class="progress-bar" style="width: 50%">
							</div>
							<img style="height: 50px; margin-left: -25px;" src="assets/logo.svg">
						</div>
						<img style="height: 50px;  margin-left: -25px;" src="assets/ballgreen.svg" class="spinning position-absolute top-0 start-100">
					</div>

					<div class="statscontainer d-flex">
						<div>
							<p>Games Played</p>
							<p> {{ user.MatchesCount }} </p>
						</div><p>Games Played</p>
						<div>
							<p>Games Won</p>
							<p> {{ user.wonMatchesCount }} </p>
						</div>
						<div>
							<p>W/L Ratio</p>
							<p> {{ user.gameRatio }} </p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8">

			<h2>Game History</h2>
			<div class="h-100 px-4 d-flex flex-column justify-content-evenly">
				<div *ngIf="gameList?.length == 0">
					<h5>No games played yet...</h5>
					<h5>Go face your first opponent to see how terrible you are!</h5>
				</div>
				<div class="matchcontainer" *ngFor="let game of gameList">
					<match [user]="user" [game]="game"></match>
				</div>
			</div>
		</div>
	</div>
</div>