<div class="modal-body">
	<form [formGroup]="myForm">

		<label for="email">Email</label>
		<input type="email" class="form-control" formControlName="email" placeholder="pongo@pong.com">

		<label for="password">Password</label>
		<input type="password" class="form-control" formControlName="password" placeholder="Enter password">

	</form>
	<button type="submit" class="btn btn-primary mt-4 btn-lg w-100"  [disabled]="myForm.invalid" (click)="submitHandler()" data-dismiss="modal">Submit</button>
</div>