
<div class="modal-signUp">
	<form>
		<div class="form-input">
			<label for="InputEmail">Email</label>
			<input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-input">
			<label for="InputUsername">Username</label>
			<input type="username" class="form-control" id="InputUsername" placeholder="Enter username">
		</div>
		<div class="form-input">
			<label for="InputPassword">Password</label>
			<input type="password" class="form-control" id="InputPassword" placeholder="Enter password">
		</div>
		<div class="form-input">
			<label for="InputPasswordConf">Confirm Password</label>
			<input type="password" class="form-control" id="InputPasswordConf" placeholder="Confirm Password">
		</div>
	</form>
	<button type="submit" class="submit" (click)="submitHandler()">Submit</button>
</div>