form-control {
  box-shadow: 1rem 1rem black;
}

label {
  margin-top: 0.5rem;
}

input {
	box-shadow: 0.3rem 0.3rem black;
	border: 0.2rem solid black;
	margin-bottom: 0.5rem;
}

.submit {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0.3rem 0.3rem black;
}