<!-- Authentification modal -->
<div class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title fs-3">Authentification</h1>
		<button type="button" class="btn-close" (click)="close()"></button>
	</div>

	<div *ngIf="!signingUp else signupForm" class="modal-body">
		<div class="row">
			<div class="col-lg-5 text-center pt-5">
				<button class="btn btn-primary mt-4 fs-4" type="button" (click)="signUp()">Sign Up</button>
				<button class="btn btn-secondary mt-4 fs-5" type="button" (click)="sign42()">Log in with 42</button>
			</div>
			<div class="col-lg-7">
				<img class="logo w-100" src="assets/logo.svg" alt="pongo">
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<span>Already registered? <a (click)="login()">Login!</a></span>
	</div>
</div>

<ng-template #signupForm>
	<div class="modal-body">
		<form [formGroup]="myForm">
	
			<label for="username">Username</label>
			<input type="text" class="form-control" formControlName="username" placeholder="Enter username">
			
			<label for="email">Email</label>
			<input type="email" class="form-control" formControlName="email" placeholder="pongo@pong.com">
			
			<label for="password">Password</label>
			<input type="password" class="form-control" formControlName="password" placeholder="Enter password">
			
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
	
		</form>
		<button type="submit" class="btn btn-primary mt-4 btn-lg w-100" (click)="submitHandler()">Submit</button>
	</div>
</ng-template>