<div class="modal-body">
	<form [formGroup]="myForm">

		<label for="username">Username</label>
		<input type="text" class="form-control" formControlName="username" placeholder="Enter username">
		
		<label for="email">Email</label>
		<input type="email" class="form-control" formControlName="email" placeholder="pongo@pong.com">
		
		<label for="password">Password</label>
		<input type="password" class="form-control" formControlName="password" placeholder="Enter password">
		
		<label for="confirmPassword">Confirm Password</label>
		<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">

	</form>
	<button type="submit" class="btn btn-primary mt-4 btn-lg w-100" (click)="submitHandler()">Submit</button>
</div>