<div class="container text-center">
	<div class="row">
	  <div class="col">
		<div class="row">
			<img class="img-fluid" [src]="players.player1.avatar" alt="Player1 Avatar">
			<h4> {{ players.player1.username }} </h4>
			<h4> Score </h4>
			<h4> {{ players.player1.score }} </h4>
		</div>
	  </div>

	  <div class="col-8">
		<canvas #pongCanvas width="640" height="480" style="position: relative; margin:0 auto;"></canvas>
		<img #background src="assets/game/background.svg" style="display:none">
		<img #paddleLeft src="assets/game/paddleLeft.svg" style="display:none">
		<img #paddleRight src="assets/game/paddleRight.svg" style="display:none">
		<img #gameBall src="assets/logo.svg" style="display:none">
	  </div>

	  <div class="col">
		<div class="row">
			<img class="img-fluid" [src]="players.player2.avatar" alt="Player2 Avatar">
			<h4> {{ players.player2.username }} </h4>
			<h4>Score</h4>
			<h4> {{ players.player2.score }} </h4>
		</div>
	  </div>
	</div>
</div>
