<div class="container text-center">
		<div class="profile-pic" >
		</div>
		<button class="btn btn-primary" type="button" (click)="uploader.click()">Upload</button>
		<input hidden type="file" #uploader (change)="updateAvatar($event)"/>
		<form [formGroup]="editForm">
			<label for="username">Username</label>
			<input type="username" class="form-control" type='text' formControlName="username" placeholder="Enter new username">

			<label for="password">Password</label>
			<input type="password" class="form-control" type='text' formControlName="password" placeholder="Enter new password">
			<label for="password">Confirm Password</label>
			<input type="password" class="form-control" type='text' formControlName="confirmPassword" placeholder="Confirm new password">
		</form>
		<div class="buttons">
			<button type="submit" class="btn btn-primary submit" (click)="submitHandler()">Submit</button><button class="btn btn-danger" (click)="close()">Cancel</button>
		</div>
</div>