<div class="container">
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Update profile</h4>
		<button type="button" class="btn-close" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="row mb-2">
			<img [src]="avatar" alt="avatar" class="profile-pic">
		</div>
		<div class="row">
			<button class="btn btn-primary" type="button" (click)="uploader.click()">Upload</button>
		</div>
		<div class="row mt-4">
			<input hidden type="file" #uploader (change)="updateAvatar($event)"/>
			<form [formGroup]="editForm">
				<label for="username">Username</label>
				<input type="username" class="form-control" type='text' formControlName="username" placeholder="Enter new username">

				<label for="password">Password</label>
				<input type="password" class="form-control" type='text' formControlName="password" placeholder="Enter new password">
				<label for="password">Confirm Password</label>
				<input type="password" class="form-control" type='text' formControlName="password" placeholder="Confirm new password">
			</form>
		</div>
		<div class="row mt-5">
			<div class="col-8">
				<button type="submit" class="btn btn-primary w-100" (click)="submitHandler()">Submit</button>
			</div>

			<div class="col-4">
				<button class="btn btn-danger w-100" (click)="close()">Cancel</button>
			</div>
		</div>
	</div>
</div>