<!DOCTYPE html>
<html lang="en">
<body class="body">
	<div class="profile-container">
			<div class="profile-pic">
			</div>
			<div class="user-details">
				<div class="form-input">
					<input type="username" class="form-control" id="InputUsername" aria-describedby="Username" placeholder="New username">
				</div>
				<div class="form-input">
					<input type="bio" class="form-control" id="InputBio" aria-describedby="Username" placeholder="New bio">
				</div>
				<div class="form-input">
					<input type="password" class="form-control" id="InputPassword" aria-describedby="Password" placeholder="New password">
				</div>
				<div class="form-input">
					<input type="confirmPassword" class="form-control" id="InputConfirmPassword" aria-describedby="Confirm Password" placeholder="Confirm password">
				</div>
			</div>
	</div>
	<div class="buttons">
		<button class="save">Save</button><button class="cancel" (click)="close()">Cancel</button>
	</div>
</body>