/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
	font-family: 'Gopher'; /* Give your font a name */
	src: local("Gopher"), url('/assets/fonts/Gopher/Gopher-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GopherBoldItalic'; /* Give your font a name */
	src : local('Gopher'), url('/assets/fonts/Gopher/GopherDisplay-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GopherMedium'; /* Give your font a name */
	src : local('Gopher'), url('/assets/fonts/Gopher/Gopher-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--yellow: #FFC801;
	--green: #53A6AC;
	--purple: #9D95E7;
	--beige: #FFECDE;
}

.clickableButtons {
	font-family: 'Gopher', sans-serif;
	border:solid 4px #000;
	box-shadow: 5px 5px 0 0 #000;
    transition: 0.15s;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}

.clickableButtons:active {
	box-shadow: 0px 0px 0px 0px;
	transform: translate(5px, 5px);
}

/* Footer Styles */
.footer {
	font-family: 'GopherBoldItalic', sans-serif;
	position: fixed;
	width: 100vw;
	bottom: 0;
    background-color: var(--purple);
	font-size: small;
    color: #000;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
}
footer > p {
	margin-bottom: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	margin: 20px 20px;
	background: var(--green);
	border-radius: 7.5px;
	box-shadow: 5px 5px 0 0 #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	margin: 20px 20px;
	border: solid 3px #000;
	box-shadow: 5px 5px 0 0 #000;
	border-radius: 7.5px;
	background: var(--yellow);
}
