<div class="container">
	<div class="row">
		<div class="col">
			<div class="card" style="width: 24rem;">
				<img src="../../../../../assets/1V1.png" class="card-img-top" alt="local versus">
				<div class="card-body">
					<h5 class="card-title">Local Versus</h5>
					<p class="card-text">Gear up for head-to-head showdowns with your friends in local one-versus-one battles.</p>
					<a (click)="createLocalMatch()" class="btn btn-primary">Create local game</a>
				</div>
			</div>
		</div>	
		<div class="col">
			<div class="card" style="width: 24rem;">
				<img src="../../../../../assets/onlinevs.svg" class="card-img-top" alt="local versus">
				<div class="card-body">
					<h5 class="card-title">Online Versus</h5>
					<p class="card-text">Prepare to face off against real opponents online in intense one-on-one Pong matches.</p>
					<a (click)="joinOnlineMatch()" class="btn btn-primary">Find an opponent</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 24rem;">
				<img src="../../../../../assets/tournament.svg" class="card-img-top" alt="local versus">
				<div class="card-body">
					<h5 class="card-title">Tournament</h5>
					<p class="card-text">Join the ultimate test of skill in our thrilling Pong tournament mode.</p>
					<a href="#" class="btn btn-primary">Create tournament</a>
				</div>
			</div>
		</div>
	</div>
</div>