.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card {
	width: 18rem;
	animation: 0.5s;
	border: 4px solid black;
	transition: all 1s;
	border-radius: 10px;

	&:hover {
		cursor: pointer;
		box-shadow: black 6px 6px 6px 0px;
		transform: scale(1.01);
	}
}