.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card {
	border: 4px solid black;
	transition: all .25s;
	border-radius: 10px;
	margin-bottom: 50px;

	&:hover {
		cursor: pointer;
		box-shadow: black 5px 5px 5px 0px;
		transform: scale(1.05);
	}
}