<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Game Rooms</title>
</head>
<body>
	<div id="screen" style="position: relative; width: 640px; height: 480px; margin:0 auto; background-color: rgb(0, 0, 0);">
		<div id="paddle1" style="height: 480px; width: 10px; position: absolute; left: 10px; background-color: rgb(0, 255, 0);"></div>
		<div id="paddle2" style="height: 480px; width: 10px; position: absolute; left: 620px; background-color: rgb(255, 0, 0);"></div>
		<div id="ball" style="position: absolute; width: 7px; height: 7px; border-radius: 50%; background-color: rgb(254, 255, 168);"></div>
	</div>
	{% comment %} <button id="playButton" onclick="createMatch()">Play!</button> {% endcomment %}
	{% comment %} Inputs<br>
	<textarea id="inputs-log" cols="30" rows="20"></textarea><br> {% endcomment %}
	<script>
		const	 gameSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/game/123be79d-01a1-4280-b444-7058ff373ed2/'
		);

		gameSocket.addEventListener('message', function(e) {
			const data = JSON.parse(e.data);
			var paddle1 = document.getElementById("paddle1");
			var paddle2 = document.getElementById("paddle2");
			var ball = document.getElementById("ball");
	
			// console.log(data.paddle1Y)
			paddle1.style.top = data.paddle1Y + 'px';
			paddle2.style.top = data.paddle2Y + 'px';
			ball.style.top = data.ballY + 'px';
			ball.style.left = data.ballX + 'px';
		});

		// gameSocket.onmessage = function(e) {
		// };
		
		function sendInputs(e) {
			if (e.keyCode != 83 && e.keyCode != 87)
				return 
			input = e.keyCode;
			if (e.type == 'keyup')
				input = 0;
			gameSocket.send(JSON.stringify({
				'message': input,
			}));
		};

		document.addEventListener('keydown', sendInputs, false);
		document.addEventListener('keyup', sendInputs, false);
	</script>
</body>
</html>
