<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Game Rooms</title>
</head>
<body>
	<!-- <div id="screen" style="position: relative; width: 640px; height: 480px; margin:0 auto; background-color: rgb(0, 0, 0);">
		<div id="paddle1" style="height: 100px; width: 15px; position: absolute; left: 10px; background-color: #ff964f;"></div>
		<div id="paddle2" style="height: 100px; width: 15px; position: absolute; left: 615px; background-color: #ff964f;"></div>
		<div id="ball" style="position: absolute; width: 21px; height: 21px; border-radius: 50%; background-color: #779ecb;"></div>
	</div> -->
	<div>
		<a id="Score1"></a>
		<a>   -------   </a>
		<a id="Score2"></a>
	</div>
	<canvas id="pongCanvas" width="640" height="480" style="position: relative; margin:0 auto;"></canvas>
	<button id="playButton" onclick="getTournament('c9563b05da4742946b6b09102ce902bc4c0ce2e5')">Play tom</button>
	<button id="playButton" onclick="getTournament('e6246144acdca72df99421f27c134d3f385634b8')">Play moise</button>
	<button id="playButton" onclick="getTournament('b85d89c90b59987f12798acfb0e58ae3c84751fb')">Play guest</button>
	<button id="playButton" onclick="getTournament('7a05f5277db819925617ffcf3237d70ed6301d28')">Play guest2</button>
	<script>
		const canva = document.getElementById("pongCanvas");
		const ctx = canva.getContext("2d");
		ctx.fillStyle = "black";
		ctx.fillRect(0, 0, canva.width, canva.height);

		const paddleWidth = 15, paddleHeight = 100;
		let paddle2y = canva.height / 2 - paddleHeight / 2;
		let paddle1y = canva.height / 2 - paddleHeight / 2;
		let paddle1X = 10;
		let paddle2X = canva.width - 10 - paddleWidth;
		let ballRadius = 10.5;
		let ballX = canva.width / 2;
		let ballY = canva.height / 2;

		function drawPaddle1(y) {
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(paddle1X, y, paddleWidth, paddleHeight);
		}

		function drawPaddle2(y) {
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(paddle2X, y, paddleWidth, paddleHeight);
		}

		function drawBall(x, y) {
			ctx.beginPath();
			ctx.arc(x, y, ballRadius, 0, Math.PI*2);
			ctx.fillStyle = "red";
			ctx.fill();
			ctx.closePath();
		}

		var matchSocket = 0;

	// c9563b05da4742946b6b09102ce902bc4c0ce2e5 > tom
	// e6246144acdca72df99421f27c134d3f385634b8 > moise
	// b85d89c90b59987f12798acfb0e58ae3c84751fb > guest
	// 7a05f5277db819925617ffcf3237d70ed6301d28 > guest2

		function getTournament(token){
			console.log('getTournament');
			const tournamentSocket = new WebSocket('ws://' + window.location.host +'/ws/game/tournament/' + '?token=' + token);
			
			tournamentSocket.onopen = function(e) {
				tournamentSocket.send(JSON.stringify({'message': 'join'})); 
			}

			tournamentSocket.onclose = function(e) {
				console.log('tournamentSocket closed');
			}

			setInterval(function() {
				if (tournamentSocket.readyState == 1){
					console.log('tournamentSocket heartbeat')
					tournamentSocket.send(JSON.stringify({'message': 'heartbeat'}));
				}
			}, 10000);

			tournamentSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if (data.response == 'match_found') {
					launchMatch(data.match_id, token);
				}
			}

			// In the tournament context, the launchMatch function is inside the getTournament method.
			// This way the tournament can remove the loosers from the match
			function launchMatch(match_id, token) {
				scoreArray = [];
				const score1 = document.getElementById('Score1');
				const score2 = document.getElementById('Score2');

				const matchSocket = new WebSocket(
					'ws://'
					+ window.location.host
					+ '/ws/game/'
					+ match_id
					+ '/?token='
					+ token
					);
				
				setInterval(function() {
					if (matchSocket.readyState == 1){
						matchSocket.send(JSON.stringify({'message': 'heartbeat'}));
					}
				}, 10000);

				matchSocket.onopen = function(e) {
					document.addEventListener('keydown', sendInputs, false);
					document.addEventListener('keyup', sendInputs, false);
					console.log('matchSocket open');
				};
	
				matchSocket.onmessage = function(e) {
					const data = JSON.parse(e.data);
					console.log("antilag");
					if (data.type == 'results') {
						if (data.content == 'lose')
							tournamentSocket.close();
						matchSocket.close();
						console.log('match ended');
						return;
					}

					scoreArray = data.Score;
					score1.textContent = scoreArray[0];
					score2.textContent = scoreArray[1];
					
					ctx.fillStyle = "blue";
					ctx.fillRect(0, 0, canva.width, canva.height)
					console.log(data.ballX);
					
					drawBall(data.ballX, data.ballY);
					drawPaddle1(data.paddle1Y);
					drawPaddle2(data.paddle2Y);
				};
	
				function sendInputs(e) {
					// if (e.keyCode != 83 && e.keyCode != 87)
					// 	return 
					input = e.keyCode;
					if (e.type == 'keyup')
						input = 0;
					matchSocket.send(JSON.stringify({
						'message': input,
					}));
				};
			}
		}

		// function getMatch(token) {
		// 	console.log('getMatch');
		// 	const queueSocket = new WebSocket('ws://' + window.location.host +'/ws/game/queue/' + '?token=' + token);
			
		// 	setInterval(function() {
		// 		queueSocket.send(JSON.stringify({'message': 'heartbeat'}));
		// 	}, 10000);

		// 	queueSocket.onopen = function(e) {
		// 		queueSocket.send(JSON.stringify({
		// 			'message': 'join',
		// 		}));
		// 	};

		// 	queueSocket.onmessage = function(e) {
		// 		const data = JSON.parse(e.data);
		// 		if (data.response == 'match_found') {
		// 			console.log('match found');
		// 			queueSocket.close(); 
		// 			launchMatch(data.match_id, token);
		// 		}
		// 	};
		// }


	// pour le local on pourrait log juste connecter le user au websocket avec un guest token
	// comme ça on a pas besoin de trop modifier le code du pong
		
		</script>
</body>
</html>
