<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Game Rooms</title>
</head>
<body>
	<!-- <div id="screen" style="position: relative; width: 640px; height: 480px; margin:0 auto; background-color: rgb(0, 0, 0);">
		<div id="paddle1" style="height: 100px; width: 15px; position: absolute; left: 10px; background-color: #ff964f;"></div>
		<div id="paddle2" style="height: 100px; width: 15px; position: absolute; left: 615px; background-color: #ff964f;"></div>
		<div id="ball" style="position: absolute; width: 21px; height: 21px; border-radius: 50%; background-color: #779ecb;"></div>
	</div> -->
	<div>
		<a id="Score1"></a>
		<a>   -------   </a>
		<a id="Score2"></a>
	</div>
	<canvas id="pongCanvas" width="640" height="480" style="position: relative; margin:0 auto;"></canvas>
	<button id="playButton" onclick="launchMatch('1855caa3-52cd-430e-8367-c54179935f4c' , '0c5f6f360915ad317354a1e8c95cdb98a65dab23', true)">Play Local</button>

	<button id="playButton" onclick="getMatch('0c5f6f360915ad317354a1e8c95cdb98a65dab23', false)">Play tom</button>
	<button id="playButton" onclick="getMatch('77435ab78a40a777e3d1240675bb46ec2ef3ca4d', false)">Play moise</button>
	<button id="playButton" onclick="getMatch('33890da45ab3c89a61f1e0ac4234c1c291bdc006', false)">Play guest</button>
	<button id="playButton" onclick="getMatch('311a804fa9d796abb307085ccb170a168817a634', false)">Play guest2</button>
	<button id="playButton" onclick="getMatch('492cc4d9f364b2f63f32510663fe780ccf18eff7', false)">Play maya</button>
	<button id="playButton" onclick="getMatch('2e318f34641e3320063cc96d3af353c1fe5eb00f', false)">Play abeille</button>
	<script>
		const canva = document.getElementById("pongCanvas");
		const ctx = canva.getContext("2d");
		ctx.fillStyle = "black";
		ctx.fillRect(0, 0, canva.width, canva.height);

		const paddleWidth = 15, paddleHeight = 100;
		let paddle2y = canva.height / 2 - paddleHeight / 2;
		let paddle1y = canva.height / 2 - paddleHeight / 2;
		let paddle1X = 10;
		let paddle2X = canva.width - 10 - paddleWidth;
		let ballRadius = 10.5;
		let ballX = canva.width / 2;
		let ballY = canva.height / 2 - paddleHeight / 2;

		function drawPaddle1(x, y) {
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(x, y, paddleWidth, paddleHeight);
		}

		function drawPaddle2(x, y) {
			ctx.fillStyle = "#FFFFFF";
			ctx.fillRect(x, y, paddleWidth, paddleHeight);
		}

		function drawBall(x, y) {
			ctx.beginPath();
			ctx.arc(x, y, ballRadius, 0, Math.PI*2);
			ctx.fillStyle = "red";
			ctx.fill();
			ctx.closePath();
		}

		var matchSocket = 0;

	// c9563b05da4742946b6b09102ce902bc4c0ce2e5 > tom
	// e6246144acdca72df99421f27c134d3f385634b8 > moise
	// b85d89c90b59987f12798acfb0e58ae3c84751fb > guest
	// 7a05f5277db819925617ffcf3237d70ed6301d28 > guest2

		function launchMatch(match_id, token, local) {
			scoreArray = [];
			const score1 = document.getElementById('Score1');
			const score2 = document.getElementById('Score2');
			
			const matchSocket = new WebSocket(
				'wss://'
				+ window.location.host
				+ '/ws/game/'
				+ match_id
				+ '/?token='
				+ token
				);
						

			matchSocket.onopen = function(e) {
				if (local)
				{
					document.addEventListener('keydown', sendInputsLocal, false);
					document.addEventListener('keyup', sendInputsLocal, false);					
				}
				else
				{
					document.addEventListener('keydown', sendInputs, false);
					document.addEventListener('keyup', sendInputs, false);	
				}
				console.log('matchSocket open');
			};

			matchSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				console.log(e.data)
				console.log("antilag");
				scoreArray = data.Score;
				score1.textContent = data.paddle1.score;
				score2.textContent = data.paddle2.score;
				
				ctx.fillStyle = "blue";
				ctx.fillRect(0, 0, canva.width, canva.height)
				console.log(data.ball.x);
				
				drawBall(data.ball.x, data.ball.y);
				drawPaddle1(data.paddle1.x, data.paddle1.y);
				drawPaddle2(data.paddle2.x, data.paddle2.y);
			};

			lastMove = 0;
			input = 0
			player = 0

			function sendInputs(e) {
				if (e.type != 'keyup' && e.keyCode == lastMove)
					return
				if (e.type == 'keyup')
					input = 0;
				else if (e.keyCode == 83)
					input = 1;
				else if (e.keyCode == 87)
					input = -1
				matchSocket.send(JSON.stringify({
					'message': input,
				}));
				if (e.type == 'keyup')
					lastMove = 0
				else
					lastMove = e.keyCode
			};

			function sendInputsLocal(e) {
				if (e.type != 'keyup' && e.keyCode == lastMove)
					return
				switch(e.keyCode)
				{
					case 83:
						input = 1;
						player = 1;
						break;
					case 87:
						input = -1;
						player = 1;
						break ;
					case 38 :
						input = -1;
						player = 2;
						break;
					case 40:
						input = 1;
						player = 2;
						break;
				}
				if (e.type == 'keyup')
					input = 0;
				matchSocket.send(JSON.stringify({
					'player' : player,
					'message': input,
				}));
				if (e.type == 'keyup')
					lastMove = 0
				else
					lastMove = e.keyCode
			};
		}

		function getMatch(token, local) {
			console.log('getMatch');
			const queueSocket = new WebSocket('ws://' + window.location.host +'/ws/game/queue/' + '?token=' + token);
			
			setInterval(function() {
				queueSocket.send(JSON.stringify({'message': 'heartbeat'}));
			}, 10000);

			queueSocket.onopen = function(e) {
				queueSocket.send(JSON.stringify({
					'message': 'join',
				}));
			};

			queueSocket.onmessage = function(e) {
				const data = JSON.parse(e.data);
				if (data.response == 'match_found') {
					console.log('match found');
					queueSocket.close(); 
					launchMatch(data.match_id, token);
				}
			};
		}


	// pour le local on pourrait log juste connecter le user au websocket avec un guest token
	// comme ça on a pas besoin de trop modifier le code du pong
		
		</script>
</body>
</html>
