<div class="landing-header">
	<div class="container selectDisable">
		<img class="star5" src="assets/purplestar.png" alt="star" width="200" height="200">
		<img class="star1" src="assets/star1.png" alt="star" width="100" height="100">
		<img class="star2" src="assets/star2.png" alt="star" width="125" height="150">
		<img class="star6" src="assets/star3.png" alt="star" width="150" height="150">
		<img class="star4" src="assets/star4.png" alt="star" width="125" height="125">
	</div>
	<!-- Header Section -->
	<header class="selectDisable">
		<span>P</span>
		<img class="logo" src="assets/logo.svg" alt="pongo" width="140" height="140">
		<span>NG</span>
	</header>

	<!-- Main Content Section -->
	<div class="container presentation">
		<div class="row justify-content-lg-center align-items-end">
			<div class="col-xl-7">
				<p>Embark on a rescue mission with Pongo in our online pong game.<br/> Play 1v1 or dive into tournaments, showcasing your skills to save Pongi.</p>
				<p>Become the pong hero in this thrilling journey!</p>
			</div>
			<div class="col-xl-3">
				<button class="btn btn-primary btn-lg w-100" data-bs-target="#loginModal" data-bs-toggle="modal">Play</button>
			</div>
		</div>
		<div class="fixed-bottom">
			<img class="logo circle selectDisable" src="assets/ballgreen.svg" alt="pongi" width="120" height="120">
		</div>
	</div>
</div>

<div class="container landing-content bg-white p-5">
	<p style="font-size: 6rem;">Pongo and Pongi,<br/> The story:</p>
	<p>Once upon a time, in the bustling town of Tabletopville, there lived two ping pong ball brothers named Pongo and Pongi. These two balls were not your ordinary table tennis balls; they were known for their incredible skills and unmatched teamwork on the ping pong table.</p>
		
	<p>Pongo, the elder brother, was distinguished by his vibrant orange color, while Pongi, the younger one, sported a lively green hue. Together, they formed an unbeatable duo on the local ping pong circuit, winning tournament after tournament and earning the admiration of their fellow balls.</p>
	
	<p>One sunny day, as the brothers were practicing their serves and spins at the Tabletopville Ping Pong Arena, they overheard a rumor about an upcoming international ping pong championship. Excitement filled their spherical forms, and they knew they had to participate to prove their skills on a global stage.
	With determination in their bounces, Pongo and Pongi embarked on a journey to prepare for the championship. They practiced day and night, refining their techniques and developing new strategies. Along the way, they encountered other table tennis enthusiasts who shared their love for the sport, and together, they formed a tight-knit community of players.
	As the championship day approached, the anticipation in Tabletopville reached a fever pitch. Pongo and Pongi were ready to face off against the best ping pong players from around the world. The arena was filled with the echoes of bouncing balls and the cheers of the crowd.
	The competition was fierce, but Pongo and Pongi's teamwork and synchronization set them apart. With each match, they showcased their dazzling spins, lightning-fast volleys, and impeccable coordination. The audience couldn't help but be mesmerized by the dynamic duo.</p>
	
	<p>Finally, the brothers found themselves in the championship match, facing the reigning champions from Paddleburg. It was a nail-biting contest that kept everyone on the edge of their seats. Pongo and Pongi's skills were put to the ultimate test, but their unwavering bond and well-honed techniques prevailed.
	In a thrilling final rally, Pongo and Pongi executed a series of jaw-dropping moves, leaving their opponents in awe. As the last ball sailed across the table, the referee's whistle blew, declaring Pongo and Pongi the new international ping pong champions.
	The crowd erupted in cheers, and the two brothers celebrated their victory with joyous bounces and spins. Pongo and Pongi had not only triumphed in the championship but had also forged lasting friendships with players from different corners of the world.</p>
	
	<p>From that day forward, Pongo and Pongi became legends in the world of ping pong, inspiring aspiring players and proving that with skill, teamwork, and a bit of colorful flair, anything is possible on the table tennis court. And so, the tale of the ping pong ball brothers echoed through the halls of Tabletopville, a story of triumph, camaraderie, and the boundless spirit of the game.</p>
	<p>You space bastard, you killed a pine. You do? Yeah, it's 8:00. Hey, McFly, I thought I told you never to come in here. Well it's gonna cost you. How much money you got on you?</p>
</div>


<!-- Authentification modal -->
<div class="modal fade" id="loginModal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-3">Authentification</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-5 text-center pt-5">
						<button class="btn btn-primary mt-4 fs-4" type="button" data-bs-target="#signUp" data-bs-toggle="modal">Sign Up</button>
						<button class="btn btn-secondary mt-4 fs-5" type="button" (click)="sign42()">Log in with 42</button>
					</div>
					<div class="col-lg-7">
						<img class="logo w-100" src="assets/logo.svg" alt="pongo">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span>Already registered? <a data-bs-target="#signIn" data-bs-toggle="modal">Login!</a></span>
			</div>
		</div>
	</div>
</div>


<!-- Sign up modal -->
<div class="modal fade" id="signUp" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-3">Sign Up</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<signup-form></signup-form>
			<div class="modal-footer">
				<span>Already registered? <a data-bs-target="#signIn" data-bs-toggle="modal">Login!</a></span>
			</div>
			</div>
	</div>
</div>


<!-- Login modal -->
<div class="modal fade" id="signIn" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-3">Log In</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<login-form></login-form>
			<div class="modal-footer">
				<span>Not registered? <a data-bs-target="#loginModal" data-bs-toggle="modal">Sign up</a></span>
			</div>
		</div>
	</div>
</div>