<div class="landing">
	<!-- Header Section -->
	<header>
		P
		<span><img src="../../../../../assets/logo.svg" alt="pongo" width="100" height="100"></span>
		NG
	</header>

	<!-- Main Content Section -->
	<div class="container presentation">
		<div class="row justify-content-lg-center">
			<div class="col-lg-6">
				<p>You space bastard, you killed a pine. You do? Yeah, it's 8:00. Hey, McFly, I thought I told you never to come in here. Well it's gonna cost you. How much money you got on you?</p>
			</div>
			<div class="col-3">
				<button class="btn btn-primary" (click)="openModal()">Play</button>
			</div>
		</div>
	</div>
</div>