.backpanel {
	box-shadow: 0.75rem 0.75rem black;
	border: solid 4px black;
    padding: 1rem;
    background-color: #53A6AC;
}

.messages {
	box-shadow: 0.75rem 0.75rem black;
	border: solid 4px black;
	overflow-y: auto;
	margin-top: 1rem;
	padding: 1rem;
	background-color: #53A6AC
}

ul {
	list-style-type: none;
}

.friendsList {
	display: flex;
	flex-direction: column;

	.img-fluid {
		display: flex;
		max-width: 7.5vw;
		max-height: 7.5vh;
		border-radius: 100%;
	}
}

.friend {

	&:hover {
		background-color: #9D95E7;
	}
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
}

h2 {
	border: solid 4px #000;
	box-shadow: 5px 5px 0px 0px #000;
	background-color: #9D95E7;
}