<div class="container-fluid mb-5">
	<div class="row gx-5">
		<div class="col-lg-3">
			<div class="backpanel mb-5">
				<!-- <h2>Friends</h2>
				<ul class="friendsList">
					<li class="friend" *ngFor="let friend of friends">
						<img class="img-fluid" [src]="friend.avatar">
						<h3 [class.selected]="friend === selectedFriend" (click)="onSelect(friend)">{{friend.username}}</h3>
					</li>
				</ul> -->

				<app-friend (friendSelected)="onSelect($event)"></app-friend>

			</div>
		</div>

		<div class="col-lg-8 mb-5">
			<div class="row backpanel">
				<h2 class="text-center">Chat<span *ngIf="selectedFriend">ting with {{selectedFriend.username}}</span></h2>
				<button *ngIf="selectedFriend" class="btn btn-secondary w-100" type="button" (click)="sendGameInvite(selectedFriend)">Invite to play</button>
			</div>
			<div *ngIf="selectedFriend" class="row messages my-3 backpanel">
				<app-messages [friend]="selectedFriend"></app-messages>
			</div>
			<div id="ChatInput" *ngIf="selectedFriend" class="row backpanel mb-4">
				<div class="col-md-10">
					<form [formGroup]="myForm" >
						<input type="text" id="text" class="form-control" formControlName="message" placeholder="Hey P'ierre, you wanna come out here ?">
					</form>
				</div>
				<div class="col-md-2">				
					<button class="btn btn-primary w-100" type="button" (click)="sendMessage()">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>