<div *ngIf="!displayForm; else loging">
	<div class="modal-header">
		<h1 class="title">Login</h1>
		<button class="btn btn-close" type="button" aria-label="Close" (click)="close()"></button>
	</div>
	<div class="modal-content">
		<div class="buttons" align="center">
			<button class="signUp" type="button" (click)="signUp()">Sign Up</button>
		</div>
		<div class="buttons">
			<button class="sign42" type="button">Sign in with 42</button>
		</div>
	</div>
	<div class="modal-footer">
		Already registered? Sign <a href="/home">in.</a>
	</div>
</div>

<ng-template #loging>
	<div class="modal-header">
		<h1 class="title">Sign Up</h1>
		<button class="btn btn-close" type="button" aria-label="Close" (click)="close()"></button>
	</div>
	<login-form></login-form>
	<div class="modal-footer">
		Already registered? Sign <a href="/home">in.</a>
	</div>
</ng-template>