@import '../../../../../styles.scss'; 

.modal {
	font-family: 'Gopher', sans-serif;
}

.modal-header {
	font-family: 'Gopher', sans-serif;
	text-align: center;
	display: flex;
    justify-content: space-between;
    align-items: center;
	border: none;
	background-color: #53A6AC;
	color: #000;
}

.title {
    flex-grow: 1; /* Allow the title to take up all available space */
    margin-left: 25px; /* Remove any default margin that may exist */
}

.modal-content {
	background-color: #53A6AC;
	text-align: center;
	border: none;
	border-radius: 0px;
}

.modal-footer {
	font-family: 'GopherBoldItalic', 'Gopher', sans-serif;
	font-size: small;
	background-color: #53A6AC;
	color:#000;
	align-items: center;
	border: none;
	justify-content: center;
}

.buttons {
	font-family: Gopher, sans-serif;
	margin-top: 20px;
}

.signUp {
	@extend .clickableButtons;
	font-size: larger;
	background-color: #FFC801;
	color: #000;
}

.sign42 {
	@extend .clickableButtons;
	font-size: larger;
	margin-bottom: 20px;
	background-color: #FE90E7;
	color: #000;
}