@import '../../../../styles.scss';

.navbar-brand {
	display: flex;

	span {
		text-shadow: 5px 5px 0px black;
		font-size: 4rem;
		color: #FD8743;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.navbar-nav {
	gap: 10px;
	margin-left: 10px;
}

.navbar{
	.button {
		margin-top: 20%;
	}
}

ul {
	font-size: 2rem;
	color: black;
}

.offcanvas {
	background-color: $tertiary;
}