@import '../../../../styles.scss';

.navbar-brand {
	display: flex;

	span {
		text-shadow: 5px 5px 0px black;
		font-size: 4rem;
		color: #FD8743;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

ul {
	font-size: 1.5rem;
	color: black;
}

.offcanvas {
	background-color: $tertiary;
}