.message {
    background-color: #FFC801;
    max-width: 75%;
    width: fit-content;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: 0;
}

.sentMsg {
    margin-left: 0;
    background-color: #9D95E7!important;
}